* {
	margin:0;
	padding:0;
	font-family: helvetica;
}
.header {
	padding: 0 70px;
	text-align: center;
}
.header .black-top-bar {
	height: 10px;
	width: 100%;
	background-color: black;
}
.header .spining-text .fa-angle-left,
.header .spining-text .fa-angle-right {
	cursor: pointer;
}
.header .spining-text span {
	margin:0 40px;
}
.header .spining-text {
	margin-top: 30px;
}
.menu ul {
	list-style-type: none;
}
.menu ul li {
	display: inline-block;
	margin: 0 28px; 
}
.menu ul li.first-li {
	margin-left: 0;
}
.menu ul li.last-li {
	margin-right: 0;
}
.menu ul li.logo {
	margin: 0 36px 0px 131px;
	position: relative;
	top: 58px;
}
.menu {
	margin-bottom: 55px;
}
.menu ul li.logo img {
	width: 132px;
	height: 132px;
	margin-top: -56px;
}
.image-container {
	height: 294px;
	padding: 70px 0;
	background-color: #000;
}
.image-container .images {
	margin-left: 70px;
	width:calc((100% - 210px) / 3);
	height: 294px;
	float: left; 
}
.image-container .images h1 {
	color: #fff;
	position: relative;
	top: 60%;
	left: 20px;
}
.image-container .img1 {
	background: url('img1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.image-container .img2 {
	background: url('img2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.image-container .img3 {
	background: url('img3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}