*{
	margin: 0;
	padding: 0;
}
.navigation {
	height: 80px;
}
.displayNone {
	display: none !important;
}
.logo {
	float: left;
	margin-right: 10px;
	width: 80px;
	height:80px;
}
.navigation .btn-link {
	height: 80px;
	float: right;
	text-decoration: none;
	outline: none !important;
}
.navigation .btn-link:hover,
.navigation .btn-link.active {
	background: #23527c;
	color: white;
}
.carousel .item {
	text-align: center;
	height:450px;
}
.carousel .item img {
	display: inline-block;
	width:100%;
	height: 450px;
}
.new-items {
	margin-bottom: 20px;
}
.new-items img {
	width:100%;
}
.image-listing {
	max-height: 200px;
}
.italic {
	font-style: italic;
}
.details {
	float: right;
}
.desctiption-new-items {
	height: 44px;
	max-height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.image-wrapper {
    height: 200px;
    overflow: hidden;
    text-align: center;
}
.image-wrapper img {
	max-height: 100%;
}
.navigation > input {
    font-size: 14px;
    color: #45515e;
    padding: 10px 40px;
    width: 40%;
    margin-top: 20px;
    margin-left: 75px;
    background-image: url(poze/search.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 19px;
    float: left;
}
.loginPopUp {
    float: right;
    position: absolute;
    right: 140px;
    height: auto;
    width: 300px;
    z-index: 13;
    top: 80px;
    background: #fff;
    padding: 10px;
}
.loginPopUp input {
	margin-bottom: 10px;
}
.container h4 {
	text-align: center;
	text-shadow: 1px 1px blue;
	color: blue;
	text-transform: uppercase;

}