*{
	margin: 0;
	padding: 0;
}
.navigation {
	height: 80px;
}
.logo {
	float: left;
	margin-right: 10px;
	width: 80px;
	height:80px;
}
.navigation .btn-link {
	height: 80px;
	float: right;
	text-decoration: none;
	outline: none !important;
}
.navigation .btn-link:hover,
.navigation .btn-link.active {
	background: #23527c;
	color: white;
}
.carousel .item {
	text-align: center;
	height:450px;
}
.carousel .item img {
	display: inline-block;
	width:100%;
	height: 450px;
}
.new-items img {
	width:100%;
}
