*{
	margin: 0;
	padding: 0;
}
.navigation > input {
	font-size: 14px;
    color: #45515e;
    padding: 10px 40px;
    width: 40%;
    margin-top: 20px;
    margin-left: 75px;
    background-image: url(poze/search.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 19px;
    float: left;
}
.container .save-button {
	background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
}
.singleListing {
	background: url('poze/background.jpg') no-repeat #fff;
	background-size:100%;
}