*{
    margin: 0;
    padding: 0;
}
.female , .male{
    display: inline-block;
    padding: 40px;
}
.female{
    width: 300px;
    height: 300px;    
    margin-left: 0;
    background: url("Female.png") no-repeat center center;
    background-size: 300px;       
}
.male{
    width: 300px;
    height: 300px;    
    margin-right: 0;
    background: url("Male.png") no-repeat center center;
    background-size: 300px;    
}
.selector{
    width: 100vw;
    height: 700px;   
    background-color: #f3f3f3;
    text-align: center;
    padding-top: 200px;
}
.female:hover{
    box-shadow: 0px 0px 10px 1px #404040;
}
.male:hover{
    box-shadow: 0px 0px 10px 1px #404040;
}
.male_outfit{
    width: 100vw;
    height: 870px;
    background: #f3f3f3;
}
.female_outfit{
    width: 100vw;
    height: 900px;
    background: #f3f3f3;
}
.male_outfit, .female_outfit h1{
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    padding-top: 30px;    
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 2px;    
}
.male_outfit h1{
    color: #404092;

}
.female_outfit h1{
    color: #ff6a84;
}
.circle{
    position: absolute;
    width: 100px;
    height: 100px;    
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 10px 10px 2px;
    left: 50px;
}
.star{    
    width: 120px;
    height: 80px;
    background: red;
    position: relative;
    left: 50px;
    top:200px;    
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    box-shadow: -5px -5px 5px;
}
.star:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid red;
    border-bottom: 13px solid transparent;
    box-shadow: -5px -5px 5px;
}

/* 
    Created on : Jun 11, 2017, 7:04:20 PM
    Author     : Wydder
*/

