* {
	/*font-family: 'Pacifico', cursive !important;*/
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background: url('img/background.jpg');
}

.container #formTabs {
	position: absolute;
	left: calc(50% - 280px);
	top: calc(50vh - 185px);
	width: 560px;
	padding: 0;
	height: 370px;
	background: rgba(232, 118, 38, 0.42);
	font-family: 'Julius Sans One', sans-serif;
}




.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	width: 100%;
}

.ui-tabs .ui-tabs-nav li {
	width: 50%;
    margin: 0;
    border: none;
    border-radius: 0;
    line-height: 35px;
    text-align: center;
    font-size: 23px;
}

.ui-tabs .ui-tabs-nav li > a {
	outline: none;
	border-radius: 0;
}

.ui-tabs.ui-corner-all.ui-widget.ui-widget-content {
	border: none;
}

.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
	border: none;
	background: transparent;
}

.ui-tabs .ui-tabs-nav {
	padding: 0;
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover {
	background: transparent;
}
.container #formTabs #loginForm .formButton {

}
.container #formTabs #loginForm .formButton,
.container #formTabs #registerForm .formButton {
	width: 100%;
    line-height: 45px;
    margin: 4px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: #454545;
    font-size: 23px;
    font-family: 'Julius Sans One', sans-serif;
}

.ui-state-active a, 
.ui-state-active a:link, 
.ui-state-active a:visited {
	color: #efe0d6;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 0em;
    background: none;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	bakground: rgba(246, 246, 246, 0.50);
}


/*INPUTS*/
.formRow {
    position: relative;
    width: 100%;
}

.formRow--item {
    display: block;
    width: 100%;
}

.formRow--input {
    position: relative;
    padding: 15px 20px 11px;
    width: 100%;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    color: #2c3235;
    letter-spacing: .2px;
    font-weight: 400;
    font-size: 16px;
    resize: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.formRow--input-wrapper {
    position: relative;
    display: block;
    width: 100%;
    line-height: 28px;
}

.formRow--input-wrapper.active .placeholder {
    top: -5px;
    background-color: transparent;
    color: #ad6952;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-size: 11px;
    width: 100px;
    line-height: 14px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.formRow--input-wrapper.active .formRow--input:not(:focus):not(:hover) ~ .placeholder { color: #ad6952; }

.formRow--input-wrapper .formRow--input:focus, .formRow--input-wrapper .formRow--input:hover { 
	border-color: #ad6952; 
}

.formRow .placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    padding: 0 10px;
    color: #652f00;
    white-space: nowrap;
    letter-spacing: .2px;
    font-weight: normal;
    font-size: 16px;
    -webkit-transition: all, .2s;
    transition: all, .2s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}