* {
	margin:0;
	padding:0;
}
span {
	color: #90b742;
}
h1 {
	color: #202020;
	text-align: center;
	margin-bottom: 30px;
}
.bubbles {
	border-bottom: dashed 2px #d4d4d4;
	border-top: dashed 2px #d4d4d4;
	padding-top: 42px;
	padding-bottom: 61px;
}
.bubble {
	text-align: center;
}
h2 {
	color: #5b5b5b;
	text-align: center;
}
.container {
    padding-top: 10px;
    background-image: url("Logo/img12.png");
}
h3.portofolio {
	position: relative;
	top: -35px;
	float: left;
	background-color: #f7f7f7 ;
	margin-bottom: 48px;
	margin-left: 50px;
	font-size: 30px;
	font-family: 'Myriad Pro';	
}
.products {
	border-bottom: dashed 2px #d4d4d4;
	padding-bottom: 67px;
}
.title {
	font-size: 16px;
	font-family: 'Myriad Pro';
	color: #202020;
}
.text3 {
	font-size: 16px;
	font-family: 'Myriad Pro';
	color: #202020;
}
.textarea {
	margin-bottom: 40px;
	padding-left: 20px;
	height: 148px;
}
.sponsor {
	margin-top: 38px;
	padding-left: 70px;
	text-align: center;
}
h4.advertisers {
   	position: relative;
	top: -195px;
	float: left;
	background-color: #f7f7f7 ;
	margin-bottom: 48px;
	margin-left: 50px;
	font-size: 30px;
	font-family: 'Myriad Pro';
}
.btn {
    background-color: #8eb63e;
    color: white;
    padding: 10px 17px;
    text-align: center;
    font-size: 11px;
}
.data {
	border-top: dotted 2px #d4d4d4;
}
.title2 {
	font-size: 22px;
	font-family: 'Myriad Pro';
	color: #606061;
}
.container-fluid {
	border-top: solid 2px #bcbaba;
}