.personContainer {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

.personContainer .personItem {
	margin-top: 20px;
	border: 1px solid #44ecae;
	border-radius: 10px;
	background: rgba(68, 236, 174, 0.07);
	margin: 2px;
	width: 49.6%;
}


.personContainer .personItem .name {
	border-bottom: 1px solid #45de58;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	color: #45de58;
}
.personContainer .personItem .info {
	font-
}
.personContainer .personItem ul {
	list-style-type: none;
	text-align: left;
	-webkit-padding-start: 0px;
}
.personContainer .personItem li {
	background: rgba(68, 236, 174, 0.15);
	margin: 3px;
	color: rgb(0, 132, 83);
}
