* {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI';
}
body {
	min-height: 100vh;
	background-image: url('imagini/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.header {
	height: 80px;
}
.header button {
	float: right;
	padding: 30px 37px;
	border: none;
	outline: none;
	color: #fff;
	font-size: 15px;
	font-family: "Segoe UI Light"
}
.header .btn-orange {
	background-color:#fe580f;
}

.header .btn-grey {
	background-color:#7c8389; 
}
.header .btn-orange .icon-add {
	width: 19px;
	height: 15px;
	background-image: url(imagini/icon-add.png);
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 8px;
}
.header .btn-grey .icon-back {
	width: 19px;
	height: 15px;
	background-image: url(imagini/icon-back.png);
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 8px;
}
.search .pre-search {
	text-align: center;
	padding: 150px 0;
}

.search .pre-search input {
	font-family: 'Segoe UI Light';
	font-size: 20px;
	color: #45515e;
	padding: 10px 40px;
	width: 400px;
	outline: none;
	border: 1px solid #fff;
	background-image: url(imagini/search.png);
	background-repeat: no-repeat;
	background-position: 5px center;	
}
.search .pre-search input:focus {
	border: 1px solid #a2c1f8;
}
.search .pre-search .arrow-right {
	width: 40px;
	height: 49px;
	background-color: transparent;
	background-image: url('imagini/arrow-right.png');
	background-repeat: no-repeat;
	border: none;
	outline: none;
	background-position: center;
	position: relative;
	left: -44px;
	top: 16px;
}
.content-wrapper .profile-box {
	width: 15.6666%;
	margin: 0 0.5%;
	float: left;
}
.content-wrapper .profile-box > div {
	max-width: 100%;
}
.content-wrapper .profile-box .image-wrapper img {
	max-width: 100%;
}

.content-wrapper .profile-box .details-wrapper {
	background-color: #fff;
	padding: 10px 20px;
}
.content-wrapper .profile-box .details-wrapper > * {
	margin-top: 10px;
}

.content-wrapper .profile-box .name {
	font-family: 'Segoe UI'; 
	font-size:18px;
	color: #666666;
}

.content-wrapper .profile-box .creation-date {
	font-family: 'Segoe UI'; 
	font-size:12px;
	color: #869eaa;
	font-style: italic;

}

.content-wrapper .profile-box .email-heading {
	font-family: 'Segoe UI SemiBold'; 
	font-size:12px;
	color: #666666;
	text-transform: uppercase;
}

.content-wrapper .profile-box .email {
	font-family: 'Segoe UI SemiBold'; 
	font-size:13px;
	color: #869eaa;	
	padding-bottom: 20px;
	border-bottom: 1px solid #eff6fc;
}

.content-wrapper .profile-box .delete-button {
	font-family: 'Segoe UI'; 
	font-size:14px;
	color: #747c84;	
	border: none;
	outline: none;
	background-position: left center;
	position: relative;
	background-color: #ffffff;
	background-image: url('imagini/btn-delete.jpg');
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
