*{
	padding: 0;
	margin: 0;
	font-family: "Segoe UI";
}
body{
	min-height: 100vh;
	background-image: url("fundal.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	height: 80px;
}
.header button{
	float: right;
	padding: 30px 37px;
	border:none;
	outline: none;
	color: #fff;
}
.header .btn-orange{
	background-color:#fe580f;
}

.header .btn-grey{
	background-color:#7c8389;
}
.header .btn-orange .icon-add{
	width: 19px;
	height: 15px;
	background-image: url(iconita2.png);
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 2px;
}
.header .btn-grey .icon-back{
	width: 19px;
	height: 15px;
	background-image: url(iconita1.png);
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 2px;
}
.search .pre-search{
   text-align: center;
   padding:150px 0;
}
.search .pre-search input{
   font-family: "Segoe UI Light";
   font-size: 20px;
   color: #45515e;
   padding:10px 40px;
   width: 400px;
   background-image:url(iconita3.png);
   background-repeat: no-repeat;
   background-position: 5px center;
   outline: none;
   border:1px solid #fff;
}
.search .pre-search input:focus{
	border:1px solid #a2c1f8;

}
.search .pre-search .search-button{
	width: 40px;
	height: 49px;
	background-color: transparent;
	background-image: url(iconita4.png);
	background-repeat: no-repeat;
	border:none;
	outline: none;
	background-position: center;
	position: relative;
	left: -44px;
	top:16px;
}
.content-wrapper .profile-box{
   width: 15.6666%;
   margin: 0 0.5%;
   float: left;
}
.content-wrapper .profile-box > div {
	max-width:100%;
}
.content-wrapper .profile-box .image-wrapper img {
   max-width:100%;
}
.content-wrapper .profile-box .details-wrapper > * {
	margin-top: 10px;
}
.content-wrapper .profile-box .details-wrapper{
	background-color: #fff;
	padding:10px 20px;
}
.content-wrapper .profile-box .details-wrapper .name {
   color:#666;
   font-family: "Segoe UI Regular";
   font-size: 18px;

}
.content-wrapper .profile-box .details-wrapper .creation-date{
   font-family: "Segoe UI Semibold";
   font-size: 12px;
   color: #869eaa;
   font-style: italic;
}

.content-wrapper .profile-box .details-wrapper .email-heading{
   font-family: "Segoe UI SemiBold";
   font-size: 12px;
   color: #666;
   text-transform: uppercase;
}

.content-wrapper .profile-box .details-wrapper .email{
	font-family: "Segoe UI SemiBold";
	font-size: 13px;
	color: #99adb7;
}

.content-wrapper .profile-box .details-wrapper .delete-button{
	background-image: url(iconita5.jpg);
	background-repeat: no-repeat;
	outline: none;
	background-position: left center;
	background-color: #fff;
	border:none;
    padding-left:20px;
}
