.container {
	background-color: #eff6fc;
}

.boxes {
	height: 100px;
}
.container .box .details-box {
	background-color: #ffffff;
	padding: 10px;
}
.detail-box .title {
	margin-top: 0;
	font-size: 15px;
}
.tags .tagItem {
	color: #99adb7;
	border: 1px solid #99adb7;
	font-family:'Segoe UI';
	font-weight: 400;
	padding: 2px 7px;
	margin-right: 5px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 2px;
}
.tags .tagItem:hover {
	background-color: #869eaa;
	border: 1px solid #869eaa;
	color: #fff;
}
.tags .tagsHeadline {
	color: #666666;
	text-transform: uppercase;
	font-family:'Segoe UI';
	font-size: 12px;

}
.details-box .title {
	margin-top: 0;
}
.tags {
	height: 60px;
	overflow: hidden;
}
.details-box button {
	border: none;
	outline: none;
	background-color: transparent;
	color: #747c84;
}
.details-box button:hover {
	color: #fe580f;
}
.hover-image {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(254, 88, 15, 0.7);
}
.image-box:hover .hover-image {
	display: block;
}
.image-box {
	position: relative;
}
.hover-image p {
	color: #fff;
	text-align: center;
	padding-top: 25%;
	font-size: 15px;
}
.downloadBox {
	width: 560px;
	left: calc(50% - 280px);
	height: 60px;
	background-color: #7c8389;
	position: fixed;
	bottom: 20px;
	padding: 18px;
}
.downloadBox .info {
	color: #fff;
	font-size: 18px;
	font-family: 'Segoe UI';

}
.downloadBox button {
	font-size: 14px;
	color: #fff;
	background: transparent;
	outline: none;
	border: none;
	float: right;
	font-family: 'Segoe UI';
}
.displayNone {
	display: none !important;
}
.hover-image-selected {
	display: block;
}