.container {
	background-color: orange;
}
.container-fluid {
	background-color: blue;
	height: 100px;
}
.container .row .col-lg-3 {
	background-color: rgba(255,255,255,0.6);
	color: red;
}
/*@media (min-width: 700px) and (max-width: 1000px){
	.container {
		width: 100px !important;
	} 
}*/
.container .col-sm-5{
	height: 50px;
	background-color: red;
}
.container .col-sm-7{
	height: 50px;
	background-color: orange;
}
.container .col-sm-3{
	height: 50px;
	background-color: purple;
}
tr:hover > * {
	background-color: red;
}
tr.success:hover > * {
	background-color: red !important;
}