body {
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

/*========================
		FONT FACE
========================*/

@font-face {
	font-family: 'Roboto Bold';
	src: url('../font/Roboto/Roboto Bold.ttf');
}
@font-face {
	font-family: 'Roboto Light';
	src: url('../font/Roboto/Roboto Light.ttf');
}
@font-face {
	font-family: 'Roboto Medium';
	src: url('../font/Roboto/Roboto Medium.ttf');
}



/*========================
		DESKTOP
========================*/

.desktop .mobileIphone img {
	width: 70%;
	position: relative;
	top: 80px;
}

.desktop .content {
	margin-top: 30px;
	position: relative;
	top: 80px;
}

.desktop .content img {
	margin: 20px 0;
	width: 50px;
}
.desktop .content p {
	font-family: 'Roboto Light';
	font-size: 18px;
	margin: 0;
}
.desktop .content h1 {
	font-family: 'Roboto Bold', sans-serif;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 15px;
}
.desktop .content ul li {
	margin: 10px 0;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	margin-left: -18px;
}
.desktop .content ul li::before {
	content: "";
	margin-left: 25px;
}
.desktop .content ul li:nth-child(1) {
	list-style-image: url('../images/1.png');
}
.desktop .content ul li:nth-child(2) {
	list-style-image: url('../images/2.png');
}
.desktop .content ul li:nth-child(3) {
	list-style-image: url('../images/3.png');
}
.desktop .content ul li:nth-child(4) {
	list-style-image: url('../images/4.png');
}
.desktop .content ul li:nth-child(5) {
	list-style-image: url('../images/5.png');
}

/*========================
		MOBILE
========================*/

.mobile .phone {
	margin: 0 auto;
}

.mobile .logo {
	width: 80px;
	margin: 25px auto;
}
.mobile p {
	font-family: 'Roboto Light';
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0;
}
.mobile h1 {
	font-family: 'Roboto Bold';
	font-size: 30px;
	text-align: center;
	width: 99%;
	margin-top: 0;
    margin-bottom: 45px;
}

.mobile .phone {
	width: 60%;
}
.mobile ul li {	
	margin: 10px 0;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	margin-left: -30px;
	color: black;
	padding-left: 0.7em;
}
.mobile ul li span {
}
.mobile ul li:nth-child(1) {
	list-style-image: url('../images/1.png');
}
.mobile ul li:nth-child(2) {
	list-style-image: url('../images/2.png');
}
.mobile ul li:nth-child(3) {
	list-style-image: url('../images/3.png');
}
.mobile ul li:nth-child(4) {
	list-style-image: url('../images/4.png');
}
.mobile ul li:nth-child(5) {
	list-style-image: url('../images/5.png');
}

/*========================
		MEDIA QUERIES
========================*/

@media screen and (max-width: 991px) {
	
	.hide-mobile {
		display: none;
	}
}
@media screen and (min-width: 992px) {
	.hide-desktop {
		display: none;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.desktop .mobileIphone img {
		width: 70%;
		position: relative;
		top: 65px;
	}
	.desktop .content {
		position: relative;
		top: 0px;
	}
}

@media screen and (min-width: 550px) and (max-width: 992px) {
	body {
		background-size: auto;
    	background-position: 85% -45%;
	}
	.mobile .phone {
		width: 45%;
	}
}

@media screen and (max-width: 550px) {
	body {
		background-size: auto;
    	background-position: 78% -43%;
	}
}