* {
	margin:0;
	padding:0;
}
@font-face {
	font-family:'OpenSansBold';
	src: url("Opensans/OpenSans-Bold.ttf")
}
@font-face {
	font-family:'OpenSansRegular';
	src: url("Opensans/OpenSans-Regular.ttf");
}
@font-face {
	font-family:'OpenSansLight';
	src: url("Opensans/OpenSans-Light.ttf");
}
body > div {
	min-height: 100px;
}
.blue-background {
	background-color:#69d2e7;
}
.grey-background {
	background-color:#f1f1f1;

}
.orange-background {
	background-color:#fa6900;
}
.header {
	padding:35px 100px;
}
.header .companyName {
	font-family:'OpenSansBold';
	font-size: 20px;
    line-height: 0.9;
}
.header .companyname {
 	font-family:'OpenSansRegular';
	font-size: 17px;
    line-height: 0.9;
}
.logo {
	float:left;
	margin-left:10px;
}
.logo2 {
	float:right;

}
.Hello {
	text-align:center;
	font-size:83px;
	font-family:'OpenSansBold';
	color:#fff;
	text-transform:uppercase;
	margin-top:90px;



}
.Hello2 {
	text-align:center;
	font-size:31px;
	font-family:'OpenSansRegular';
	text-transform:uppercase;
	color:#fff;
	margin-bottom:145px;

}
.about .about-us{
	width:830px;
	height:282px;
	margin:0 auto;
	background-color:#fff;
	border-radius: 4px;
	position:relative;
	top:-100px;
}
.about .about-us h3{
	font-size:36px;
	text-align:center;
	font-family:'OpenSansBold';
	text-transform:uppercase;
	width:380px;
	margin:0 auto;
	border-bottom: 1px solid #d5d5d5;


}
.text {
	font-family:'OpenSansLight';
	font-size:22px;


}		

.carousel .item {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
	height: 535px;


}
.carousel .item img {
	display: inline-block;
	margin:0 auto;
}
.carousel .item .carousel-caption h3.name {
color:#000000;
font-size: 26px;
font-family:"OpenSansBold";
}
.carousel .item .carousel-caption p {
	color:#000000;
	font-family:"OpenSansLight";
	font-size:16px;
}
.carousel .item .carousel-caption p.profession {
	color:#000000;
	font-family:"OpenSansLight";
	font-size:22px;
}
.carousel-indicators li {
	width:18;
	height:18;
	background-color:#fff;
	border:1px solid #efefef;
}
.carousel-indicators li.active {
	background-color:#69d2e7;
	width:18;
	height:18;
	border:1px solid #efefef;

}
.carousel .left.carousel-control,.carousel .right.carousel-control {
	background:transparent;
	opacity:1;
}
.carousel .left.carousel-control {
	left:550px;
	top:200px;
	height:30px;
	width:auto;
}
.carousel .right.carousel-control {
	right:550px;
	top:200px;
	height:30px;
	width:auto;
	
}