* {
	margin: 0;
	padding:0;
}

.text h1 {
	color: #ff0000;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
}

.text p span {
	font-size: 20px;
	font-style: italic;
	font-weight: 100;
}

.text a {
	text-decoration: none;
	color: red;
	cursor: default;
}

.text ul {
	list-style-type: upper-roman;
}

.text ol {
	list-style-type: katakana;
}

.text .button {
	background: #ff0000;
	color: blue;
	width: 100px;
	height: 50px;
	text-transform: uppercase;
	text-decoration: underline;

}

.text .button2 {
	background: blue;
	color:red;
	width: 100px;
	height: 50px;
	padding: 10px;
	border-radius: 4px;
	text-transform: uppercase;
	

}

.font {
	font-family: 'Oswald', sans-serif;
}

.fa-home {
	color: orange;
	font-size: 50px;
}

body {
	min-height: 100vh;
	background-color: darkgreen;
	background-image: url('images/maci.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

.search {
	background-image: url('images/search.jpg');
	background-repeat: no-repeat;
	background-size: auto 50%;
	background-position: center right;
	padding-right: 20px;
	height: 40px;
}



table th,
table td {
	border-right: 1px solid white;
	border-top: 2px solid red;
}
