

#logout-link {
    margin-top: -25px;
    background-color: transparent;
    height: 32px;
    width: 32px;
    border: none;
    float: right;
    margin-right: 30px;

    
}
#top-search {
	text-align: center; 
    margin-bottom: 100px;

    
}
}
.playere {

    margin: 50px auto 20px auto;
    display: block;
    
    
    margin-bottom: 20px;
}

h3{
	font-size:15px;
}

#search-button img {
	height: 18px;
    width: 22px;
   
}
#search-button {
    margin-left: -6px;
    height:  33px;

}
#query{
    height: 32px;
}

#buttons input {
	outline: none;
    width: 200px;
    height: 30px;
}

#YouTube {
   height: 35px;
    margin-left: 40px;
    margin-top: 55px;

}


.title{
    font-size: 20px;
    margin: 0 45px;
    color: #2719e0;

}

.description {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 40px;
    color: #5a42e0;
}
#query {
    width: 400px;
}


#search-container{
   padding-left: 130px;
}
.playlist_updates {
    padding-left: 40px;
}

#playlist-button {
    width: 199px;
    color: #2b85e2;
}