#logout-link {
	position: absolute;
    right: 20px;
    margin-top: -40px;

    
}
#buttons {
	text-align: center;
}
.playere {

    margin: 50px auto 20px auto;
    display: block;
    
    width: 40%;
    margin-bottom: 20px;
}