.container .itemContainer .item {
	border: 1px solid black;
	text-align: center;
	float: left;
	width: 32.3333%;
	margin: 1px;
}
.container .formContainer,
.container .deleteItemContainer {
	padding: 2px;
	width: 50%;
	margin: 20px auto;
}

.container .formContainer input,
.container .deleteItemContainer input {
	display: block;
	width: 100%;
	margin: 1px 0;
}

.container .formContainer button {
	margin: 10px auto;
	display: block;
	width: 100%;
}